.Main {
    height: fit-content;
    padding: 2rem 0 16rem 0;
    width: 100%;
    z-index: 10;
}

.Container {
    height: fit-content;
    justify-content: space-around;
    line-height: 1.5;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    padding-top: 10em;
}

.TitleContainer {
    font-size: 10rem;
    line-height: 1;
    width: fit-content;
    width: 3em;
    z-index: 12;
    overflow: hidden;
    transform: translateX(-5rem)
}

.Title {
    font-size: 10rem;
    line-height: 1;
    color: var(--main-red);
    text-align: center;
    padding-top: 1rem;
}

.TextContainer {
    font-size: 1.3rem;
    font-variation-settings: "wght" 200;
    line-height: 1.5;
    width: 19rem;
    height: fit-content;
    align-self: flex-end;
    text-align: left;
    overflow: hidden;
}



.TextContainer h2 {
    font-size: 1.3rem;
    font-variation-settings: "wght" 200;
    line-height: 1.5;
}

.InnerTextContainer {
    padding: 0.1em;
    padding-top: 0.4em;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-red);
}

.Container h2 strong {
    font-size: 1.8rem;
    width: 10em;
    font-variation-settings: "wght" 400;
    text-align: center;
    color: white;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}